---
import Pagination from "@/components/Pagination";
import BlogLayout from "@/layouts/BlogLayout.astro";
import fetchApi from "@/lib/strapi";
import { Image } from "astro:assets";

const response = await fetchApi<any>({
  endpoint: "recruitment-posts?pagination[page]=1&pagination[pageSize]=3&populate=images", // the content type to fetch
  // wrappedByKey: "data", 
  // the key to unwrap the response
});

const posts = response.data;

const meta = response.meta;
---
<BlogLayout pageTitle="Recruitment">
  <Fragment>
    <h1 text-center font-bold text-2xl mb-5 text-secondary uppercase>JOBS AND OPPORTUNITIES</h1>
    <div grid grid-cols-4 gap-20>
      <div grid grid-cols-2 gap-5 col-span-3>
        {posts.map((post)=>
          <article mb-10 gap-3 items-center>
            <Image src={"http://localhost:1337"+post.attributes.images.data[0].attributes.url} alt="Hiring" class="shadow-md aspect-[4/3] rounded" width={post.attributes.images.data[0].attributes.width} height={post.attributes.images.data[0].attributes.height} format="webp"/> 
            <h2 font-medium mt-2><a href="">{post.attributes.title}</a></h2>
          </article>
         )}
          {posts.map((post)=>
          <article mb-10 gap-3 items-center>
            <Image src={"http://localhost:1337"+post.attributes.images.data[0].attributes.url} alt="Hiring" class="shadow-md aspect-[4/3] rounded" width={post.attributes.images.data[0].attributes.width} height={post.attributes.images.data[0].attributes.height} format="webp"/> 
            <h2 font-medium mt-2><a href="">{post.attributes.title}</a></h2>
          </article>
         )}
      </div>
      <div>
        <h3 mb-2 font-semibold>You may be interested</h3>
        {posts.map((post)=>
          <article mb-10 gap-3 items-center>
            <Image src={"http://localhost:1337"+post.attributes.images.data[0].attributes.url} alt="Hiring" class="shadow-md aspect-[4/3] rounded" width={post.attributes.images.data[0].attributes.width} height={post.attributes.images.data[0].attributes.height} format="webp"/> 
            <h2 font-medium mt-2><a href="">{post.attributes.title}</a></h2>
          </article>
         )}
      </div>
    </div>
</Fragment>
</BlogLayout>