---
import { Image } from "astro:assets";
import about from "@/assets/about.jpg";
import about01 from "@/assets/about01.png";
import about02 from "@/assets/about02.png";
import about03 from "@/assets/about03.png";
import about04 from "@/assets/about04.jpg";
import about05 from "@/assets/about05.jpg";
---

<div class="grid md:(grid-cols-2 gap-25)">
  <div class="px-5">
    <Image
      src={about}
      alt="About"
      class="md:-mt-20 rounded-xl shadow-xl animated animated-slow animated-back-in-up"
    />
  </div>
  <div
    class="mt-15 pr-5 text-end ml-auto animated animated-slow animated-back-in-right"
  >
    <h2 text-16 font-semibold mb-2>Our Vision</h2>
    <p text-xl mb-2>
      Global Liaison was founded upon the belief of integrity and equal
      opportunity. Our principles entail treating our merchants with courtesy
      and respect, and also to ensure them reasonable pricing and reliability.
      Our company serves primarily the business-to-business market. We offer the
      most competitive rates with exceptional customer service.
    </p>
  </div>
</div>
<div
  m-5
  grid
  grid-cols-3
  gap-20
  class="animated animated-slower animated-slide-in-up"
>
  <div shadow-xl p-5 rounded-md>
    <Image src={about01} alt="About" class="w-50 h-50 rounded-xl mx-auto" />
    <h4 text-2xl font-semibold mb-3 text-center>Sustainability</h4>
    <p text-xl>
      Because we are confident with our services, our merchants are never
      obligated to any contracts. We also offer free terminals, supplies, and
      in-house 24×7 technical support. We regularly ask our clients for feedback
      to make sure they are satisfied with our services.
    </p>
  </div>
  <div shadow-xl p-5 rounded-md>
    <Image src={about02} alt="About" class="w-50 h-50 rounded-xl mx-auto" />
    <h4 text-2xl font-semibold mb-3 text-center>Collaboration</h4>
    <p text-xl>
      We monitor merchants’ accounts closely to ensure their fees are correct
      and their information are updated in a timely manner. We want to make sure
      we are able to provide the most beneficial solution to our merchants at
      any given point in time.
    </p>
  </div>
  <div shadow-xl p-5 rounded-md>
    <Image src={about03} alt="About" class="w-50 h-50 rounded-xl mx-auto" />
    <h4 text-2xl font-semibold mb-3 text-center>Innovation</h4>
    <p text-xl>
      Beyond all the services we provide, integrity remains our core principle.
      Our goal is to provide the best service with the utmost honesty and
      transparency toward all of our clients. Our principles entail treating our
      merchants with courtesy and respect, and also to ensure them reasonable
      pricing and reliability
    </p>
  </div>
</div>
<div grid grid-cols-3 place-content-center gap-5 m-5>
  <Image
    src={about04}
    alt="About 04"
    class="rounded-xl col-span-2 animated animated-slower animated-fade-in-left-big"
  />
  <Image
    src={about05}
    alt="About 05"
    class="rounded-xl h-full animated animated-slower animated-fade-in-right-big"
  />
</div>
